xsd/TitulosResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/TitulosResponse"
	xmlns:tns="http://www.example.org/TitulosResponse" elementFormDefault="qualified">
    <complexType name="titulos">
    	<sequence>
    		<element name="titulo" type="tns:titulo" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>
    <complexType name="titulo">
    	<sequence>
    		<element name="nome" type="string"></element>
    		<element name="data" type="date"></element>
    	</sequence>
    </complexType>
</schema>